* {
    font-family: 'Inter', sans-serif;
}

.title {
    font-size: 23px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding: 60px 0 10px 0;
    font-style: italic;
}

.daily-item {
    background-color: #F5F5F5;
    border-radius: 30px;
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 20px;
}

.icon-small {
    width: 40px;
}

.day {
    color: #212121;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
}

.description {
    flex: 1 1;
    text-transform: capitalize;
    margin-right: 15px;
    text-align: right;
}

.min-max {
    color: #757575;
}

.daily-details-grid {
    grid-row-gap: 0;
    grid-column-gap: 15px;
    row-gap: 0;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
}

.daily-details-grid-item {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.daily-details-grid-item label:first-child {
    color: #757575;
    font-weight: 500;

}

.daily-details-grid-item label:last-child {
    color: #212121;
    font-weight: bold;
}


@media screen and (max-width: 600px) {

}